<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LocalInvaders</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/bootswatch.css" rel="stylesheet">
    <!-- ここからwebFont -->
    <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Lemon', cursive;
      }
    </style>
    <!-- ここまでwebFont -->

    
  </head>
  <body background="/img/skulls.png"> <!-- 壁紙 -->
    
    <div class="container" style="padding:20px 0">
  
    <!------------------------- ここに結果画面 ---------------------------->
  
  
  </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/mode.js"></script>
  </body>
</html>
